@page
@model ElectroDetali.Pages.User.BusketModel
@{
}

@if(Model.busket == null || Model.busket.Count == 0)
{
    <h1>В корзине пока пусто</h1>
}
else
{
    <div style="display:inline-block">
        <table class="table" >
            <tbody style="vertical-align:bottom">
                @foreach (var item in Model.busket)
                {
                    <tr>
                        <div class="row">
                            <div class="card mb-3 col-sm-6">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="@item.Good.Image" class="card-img" alt="Изображение скоро появится">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Good.Name</h5>
                                            <p class="card-text">@item.Good.Price</p>
                                            <p class="card-text">Дата доставки: @item.Datedelivery.Value.Date.ToShortDateString()</p>
                                            <p class="card-text">Пункт выдачи: @item.Point.Adress</p>
                                            <form method="post" name="Delete">
                                                <input name="Id" value="@item.Id" style="visibility:hidden" />
                                                <button>Удалить из корзины</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    

    <div class="col-sm-6" style="display:inline-block">
        <form method="post" name="CreateBuy">
            <h2>Оформить заказ</h2>
            <p>Оплата при получении</p>
            @if (Goods.IndexModel.currentUser.Email == null)
            {
                <input name="mail" type="email" placeholder="Почта"></input>
            }
            <input value="@ViewData["Sum"]" style="visibility:hidden"/>
            <p>Общая стоимость: @ViewData["Sum"]</p>
            <button type="submit" class="btn btn-primary" asp-page-handler="CreateBuy">Оформить</button>
        </form>
    </div>
}
