@page
@model ElectroDetali.Pages.User.CabinetModel
@{
    ViewData["Title"] = "Cabinet";
}
<div class="d-none">
    <input asp-for="StatusMessage" />
</div>
<h1>Личный кабинет</h1>
@if (Goods.IndexModel.currentUser == null || Goods.IndexModel.currentUser.Password == null)
{
    <h2>Авторизуйтесь, чтобы просматривать историю заказов</h2>
}
else
{
    <form method="post" name="Change">
        <input name="Login" type="email" value="@Goods.IndexModel.currentUser.Email" style="width:contain" required/>
        <input name="Name" value="@Goods.IndexModel.currentUser.Name" style="width:contain"  required />
        <button type="submit" class="btn btn-primary" asp-page-handler="Change">Сохранить изменения</button>
    </form>

    <form method="post" enctype="multipart/form-data" name="Save">
        <button type="submit" class="btn btn-primary" asp-page-handler="Save">Скачать историю заказов</button>

    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Дата заказа
                </th>
                <th>
                    Статус доставки
                </th>
                <th>
                    Товар
                </th>
                <th>
                    Стоимость
                </th>
                <th>
                    Пункт выдачи
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Buy)
            {
                <tr>
                    <td>
                        @item.Datecreate.Value.ToShortDateString()
                    </td>
                    <td>
                        @if(item.Datedelivery > DateTime.Now)
                        {
                            <p>Ожидается к доставке: @item.Datedelivery.Value.ToShortDateString()</p>
                        } else
                        {
                            <p>Доставлен</p>
                        }
                    </td>
                    <td>
                        @item.Good.Name
                    </td>
                    <td>
                        @item.Good.Price
                    </td>
                    <td>
                        @item.Point.Adress
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
<script> src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.7/dist/sweetalert2.all.min.js"></script>

<script>
   $(document).ready(function () {
      let msg = $('#StatusMessage').val();
      if(msg.length > 0) {
          swal.fire(msg);
      }
   }
</script>
}
