@page
@using ElectroDetali.Models
@model ElectroDetali.Pages.Goods.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="@Html.ValueFor(model => model.Good.Image)" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"> @Html.ValueFor(model => model.Good.Name)</h5>
                    <p class="card-text"> @Html.ValueFor(model => model.Good.Price)</p>
                    <p class="card-text"> @Html.ValueFor(model => model.Good.Description)</p>
                    <p class="card-text"> <a href="./Index?id=@Html.ValueFor(model => model.Good.Category.Id)">@Html.ValueFor(model => model.Good.Category.Name)</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Отзывы
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var review in (List<Review>)ViewData["Review"])
            {
                <li class="list-group-item">@(@review.User == null ? "Аноним" : (review.User.Name ?? review.User.Email)): @review.Value</li>
            }
            <form method="post" id="reviewForm">
                <div class="form-group" style="width:70%">
                    <label for="review">Оставить отзыв</label>
                    <textarea class="form-control" name="review" rows="3"></textarea>
                    <input name="id" value=@ViewData["GoodId"] style="visibility:hidden"></input>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>
        </ul>
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Good?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
