@page
@model ElectroDetali.Pages.Goods.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="d-none">
    <input asp-for="StatusMessage" />
</div>
@if ((Goods.IndexModel.currentUser != null && Goods.IndexModel.currentUser.Email != null) && Goods.IndexModel.currentUser.Isadmin == true)
{
    <p>
        <a asp-page="Create">Добавить новый товар</a>
    </p>
}
<div style="display:inline-block; width:max-content">
    <form>
        <p>
            <p>Поиск:</p>
        <input type="text" asp-for="SearchString" />
            <button type="submit" class="btn btn-primary">Найти</button>
        </p>
    </form>
</div>


<div style="display:inline-block ; width:max-content">
    
    <form>
        <div style="display:inline-block">
            <p>Количество товаров на странице:</p> 
            <select class="form-select" asp-for="PageSize">
                <option value="5">5</option>
                <option value="15" selected>15</option>
                <option value="25">25</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="display:inline-block">Применить</button>
    </form>

</div>

<div style="display:inline-block ; width:max-content">
    <form>
        <div style="display:inline-block">
            <p>Сортировать: </p>
        <select class="form-select" asp-for="SortingValue">
            <option value="ASC">По возрастанию цены</option>
            <option value="DESC">По убыванию цены</option>
            <option value="NONE" selected>По умолчанию</option>
        </select>
        </div>
        <button type="submit" class="btn btn-primary">Применить</button>
    </form>

</div>

<div>
    @if (ViewData["Category"] is List<Models.Category>)
    {
        @foreach (var cat in (List<Models.Category>)ViewData["Category"])
        {
            <div style="vertical-align:top; display:inline-block; width:max-content">
                <div class="card">
                    <div class="card-body">
                        <a href="./?id=@cat.Id">@cat.Name</a>
                    </div>
                </div>
            </div>
        }
    }
</div>

<table class="table">
    <tbody style="vertical-align:bottom">
     @foreach (var item in Model.Good) 
    {
        <tr>
           <div class="card" style="width: 18rem; display:inline-block">
                    <a asp-page="./Details" asp-route-id="@item.Id">
                        <img src="@item.Image" class="card-img-top" alt="Изображение скоро появится">
                        <div class="card-body">
                            <h2 class="card-text">@item.Name @item.Price Р</h2>
                            <p class="card-text">@item.Description</p>
                        </div>
                     </a>

                    <ul class="list-group list-group-flush">
                        @if ((Goods.IndexModel.currentUser != null && Goods.IndexModel.currentUser.Email != null) && Goods.IndexModel.currentUser.Isadmin == true)
                        {
                            <li class="list-group-item"> <a asp-page="./Edit" asp-route-id="@item.Id">Изменить</a></li>
                            <li class="list-group-item"> <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a></li>
                        }
                    </ul>
            </div>
        </tr>
}

    </tbody>
</table>

@{
    var prevDisabled = !Model.Good.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Good.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Good.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    Предыдущая
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Good.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    Следующая
</a>

@section Scripts {
    <script>src = "https://cdn.jsdelivr.net/npm/sweetalert2@11.1.7/dist/sweetalert2.all.min.js" ></script>

    <script>
        $(document).ready(function () {
            let msg = $('#StatusMessage').val();
            if (msg.length > 0) {
                swal.fire(msg);
            }
        }
    </script>
}